*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.header_blog{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.htext{
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}
.email{
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
    transition: 0.3s  ease;
    padding: 5px;
    border-radius: 20px;
}
.email:hover{
    color: #161b25;
    background: #fff;
}
.header_num{
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
    transition: 0.3s  ease;
    padding: 5px;
    border-radius: 20px;
}
.header_num:hover{
    color: #161b25;
    background: #fff;
}
.header_img{
    width: 300px;
    height: 400px;
}
.header{
    background: #161b25;
}
.header_title, .header_title1, .job{
    color: #fff;
}
.header_title, .header_title1{
    font-size: 36px;
    line-height: 42px;
}
.header_inne{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.header_h{
    display: flex;
    flex-direction: column;
}
.job{
    font-size: 20px;
}
.header_inner{
    display: flex;
    flex-direction: column;
}
.header_link{
    font-size: 18px;
    color: #fff;
    padding: 10px;
    transition: 0.4s ease;
    border-radius: 20px;
}
.header_link:hover{
    background: #fff;
    color: #161b25;
}
.header_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* left */
.left{
    background: #e7e8e9;
    width: 400px;
    margin-right: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_title{
    font-size: 36px;
    line-height: 14px;
    margin: 70px 0;
    color: #161b25;
}
.pro_title{
    font-size: 36px;
    color: #161b25;
    padding: 50px 0;
}
.title{
    font-size: 36px;
    padding: 55px 0 ;
    color: #161b25;
}
.left_text{
    color: #555555;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}
.mid_inner{
    padding-bottom: 20px;
}
.left_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_list{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.left_link{
    color: #555555;
    font-size: 25px;
    padding-left: 10px;
}
.right_link{
    color: #555555;
    font-size: 25px;
    font-weight: 700;
    padding-right: 30px;
    padding-bottom: 40px;
}
.vox{
    color: #161b25;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #161b25;
    text-align: center;
    display: inline-block;
    margin: 7px 5px 0 0;
}
.fox{
    color: #161b25;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #161b25;
    margin: 7px 10px 0 0;
}
.mox{
    color: #e1e1e1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e1e1e1;
    font-size: 1px;
    text-align: center;
    margin: 7px 10px 0 0;
}
.hobby{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.skill{
    display: flex;
}
/* right */
.main_blog{
    display: flex;
    justify-content: space-between;
}
.right_inner{
    display: flex;
    padding-bottom: 50px;
}
.right_text{
    font-size: 20px;
    width: 350px;
    line-height: 1.5;
    color: #555555;
}
.in_title{
    font-size: 36px;
    padding: 70px 0 40px;
    color: #161b25;
}
.right_title{
    color: #555555;
    width: 200px;
    font-size: 20px;
    line-height: 1.5;
}
.right{
    display: flex;
    flex-direction: column;
}
.bot{
    width: 550px;
}
.bot_blog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* footer */
.footer{
    background: #161b25;
}
.footer_blog{
    display: flex;
    justify-content: space-between;
}
.footer_title{
    font-size: 25px;
    color: #e1e1e1;
    padding: 5px;
    display: inline-block;
    margin: 30px 0;
    transition: 0.3s ease;
    text-decoration:dotted;
}
.footer_title:hover{
    background: #e1e1e1;
    color: #161b25;
}
.footer_text{
    color: #e7e8e9;
    font-size: 20px;
    width: 400px;
    text-align: justify;
    line-height: 1.5;
}
.img{
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 35px;
    transition: 0.3s ease;
}
.img:hover{
    background: #e7e8e9;
}
.footer_right{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.dir{
    font-size: 20px;
    color: #e7e8e9;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    margin: 30px 0;
    width: 400px;
    justify-content: space-between;
}
.footer_left{
    display: flex;
    justify-content: space-around;
    width: 1300px;
}
.down_title{
    font-size: 22px;
    color: #e1e1e1;
    margin: 33px 0;
    padding: 5px;
}
.down_text{
    font-size: 18px;
    color: #e7e8e9;
    width: 250px;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 30px;
    border-bottom: 2px solid #e7e8e9;
}
.footer_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}